apiVersion: v1
kind: Service
metadata:
  name: pre-shift-check
  namespace: pre-shift-check
  labels:
    app: pre-shift-check
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: api
  selector:
    app: pre-shift-check
